/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #3d3d3d;
  min-width: 100vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: #f4f4f4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-weight: 800;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  /* background-color: #d6d6d6; */
  background-color: #acacac;
}

.empty-link:hover {
  background-color: transparent !important;
  cursor: default;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}
